/* 3 */

.forecast {
  /* background-color: red; */
  width: 100%;
  padding: 10px;
  font-family: Roboto;
}

.forecastwrapper {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 50px;
}

.liforecast {
  background-color: #f5efff;
  width: 100%;
  height: 100%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.liforecast:hover {
  background-color: #fbfbfb;
}
