.errorwrapper {
  /* background-color: red; */
  margin: 100px auto;
  width: 500px;
  height: 500px;
  text-align: center;
}

.errorwrapper button {
  padding: 10px;
  border: none;
  color: white;
  background: #000b58;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.errorwrapper p {
  color: white;
  font-family: Roboto;
  font-size: 48px;
}
